form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input, select {
    margin-top: 5px;
    outline: none;
    padding: 10px;
}


button {
    margin-top: 20px;
    padding: 10px;
}

span, .error-message {
    color: #ef3636;
    padding: 4px 0px 8px 0px;
    display: flex;
    justify-content: left;
}

.has-error {
    border: 1px solid #ef3636;
}

label {
    text-align: left;
    padding: 12px 0px 2px 0px;
}