:root {
  --color-one: #646cff;
  --color-two: #535bf2;
  --background-dark: #242424;
  --letter-color: #f5f5f5;
}

html, body {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 12px;
  color: var(--letter-color);
  background-color: var(--background-dark);
}
